Source: oldfashioned
Section: misc
Priority: optional
Maintainer: Christopher Glass (Ubuntu) <tribaal@ubuntu.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Vcs-Git: https://github.com/chrisglass/ubuntu-old-fashioned.git

Package: oldfashioned
Architecture: all
Depends: ${misc:Depends}
Description: Build Ubuntu cloud images the old fashioned way
 The old-fashioned-image-build script will build ubuntu cloud images locally
 from a livecd-rootfs checkout.
