Source: oldfashioned
Section: misc
Priority: optional
Maintainer: Christopher Glass (Canonical) <christopher.glass@canonical.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: oldfashioned
Architecture: all
Depends: ${misc:Depends}
Description: Build Ubuntu cloud images the old fashioned way
 The old-fashioned-image-build script will build ubuntu cloud images locally
 from a livecd-rootfs checkout.
