Source: oldfashioned
Section: misc
Priority: optional
Maintainer: Christopher Glass (Canonical) <christopher.glass@canonical.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: oldfashioned
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
